@import '../../../lib/sass/abstract/mixins';
.post {
    display: flex;
    flex-direction: column;
}

.post-container {
    margin: 15px 0;
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 30rem;
    height: 35rem;
    background: rgba(223, 255, 251, 0.50);
    border: 2px solid#E1F7E7;
    // --v : 255 255 255 / 80%;
    // @include box-shadow( inset -2px -2px 25px 0 rgba(var(--v)));
    border-radius: 20px;
    backdrop-filter: blur(6px);
    z-index: 4;
    opacity: 0.9;
}

.img-profile {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 0 10px;
}
.user-name{
    padding-right: 5px;
}

.img-post {
    width: 100%;
    height: 100%;
}
.post-header {
    display: flex;
    width: auto;
    justify-content: space-between;
}
.post-comment{
    padding: 10px 0px;
    width: 100%;
    border-bottom: solid 0.5px 

    
}

.post-user {
    display: flex;
    align-items: center;
}

.post-opt {
    display: flex;
    align-items: center;
}

.post-body {
    width: 100%;
    height: 70%;
}

.post-footer {

    width: auto;
    height: 5%;
    display: flex;
    flex-direction: column;
    padding: 5px;

}

.post-actue{
    display: flex;
    justify-content: space-between;

}