.Card-container{
    
    display: flex;
    width: 250px;
    height: 160px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

    .Card-header{
        flex-basis: 12%;
        background-color: rgb(15, 19, 19);
    }

    .Card-body{
        flex-basis: 60%;
        background-color: rgb(141, 91, 30);
        
        
        img{
            // width:50%;
            // height:50%;
            // display:block;
        }
    }

    .Card-footer{
        flex-basis: 12%;
        background-color: rgb(93, 231, 231);

    }
    
}