.Form-container{
 display: flex;
 width: 100%;
 align-items: center;
 justify-content: center;
 background-color:#435df8;

}
.styleFormSearch{
  display: flex;
  justify-content: center;
  background-color:#435df8;
  color:white

}