.Msg-container{
    width: 100%;
    height: auto;
    display: flex;
}
.Msg-Main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.Msg-header{
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Msg-content{
    flex-basis: 65%;
    // background-color: #435df8 ;
    // opacity: 0.2;
    
    margin: 0 1rem;
    padding: 1rem 2rem;
}
.Msg-footer{
    flex-basis: 25%;
    display: flex;
    align-items: center;

}
.Msg-form{
    flex-basis: 100%;
    flex-direction: row;
    
    
    form{
        display: flex;
        flex-direction: row;
        border: solid 0.5px #435df8 ;
        border-radius: 5px ;
        margin: 0 2rem 

    }
}

.textarea-style{
    width: 90%;
    height: 5rem;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background-color:#e5e5e5;
    resize: none;

}
        
    

//Msg box

.msg-boxe{
    display: inline-block;
    padding: 12px 18px;
    max-width: 270px;
    min-height: 26px;
    min-width: 14px;
    font-size: 24px;
    line-height: 26px;
    position: relative;
    overflow-wrap: break-word;
    border-radius: 20px 20px 10px 20px;
    -moz-border-radius: 20px 20px 10px 20px;
    -webkit-border-radius: 20px 20px 10px 20px;

}
.corner{

    width: 36px;
    height: 12px;
    position: absolute;
    bottom: -1px;
    right: -9px;
}