.Home-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
}

.Home-main {
    display: flex;
    justify-content: center;
    overflow: auto;
    margin: 0 auto;
    overflow-y: scroll;
}