.FormBase-container{
    width: 100%;

    .FormBase-input{
        border: none;
        outline: none;
        height: 25px ;
        border-radius: 30px 30px 30px 30px;
        padding: 2% 5% ;
        color:#05184A;
        background-color: #AECFE1;
        opacity: 0.5;
    }
}

