.FormBase-container{
    width: 100%;

    .FormBase-input{
        border: none;
        outline: none;
        height: 25px ;
        border-radius: 30px 30px 30px 30px;
        padding: 2% 5% ;
    }
}

