
@import '../../../lib/sass/abstract/mixins';

.SelectModal-container {
    min-width: 450px;
    background: #AECFE1;
    border: 2px solid rgba(255, 255, 255, 0.50);
    // --v : 255 255 255 / 80%;
    // @include box-shadow( inset -2px -2px 25px 0 rgba(var(--v)));
    // @include box-shadow(inset -2px -2px 25px 0 rgb($v));
    border-radius: 20px;
    backdrop-filter: blur(6px);
    z-index: 4;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
}