

.Container-Nav{
    display: flex;
    // margin-top: 1rem;
    // justify-content: space-between;
    // background-color: #F4F5F7 ;
    background:#435df8;
    box-shadow: inset -2px -2px 25px 0 rgb(255 255 255 / 40%);
    backdrop-filter: blur(6px);
    z-index: 4;
    opacity: 0.9;    
    resize: none;


}

.Main-Nav{
    width: 15.8rem;


}
.Nav-Items{
    display: flex;
    align-self: center;
    justify-content: center;
   
}

.Items{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: auto;

    
}
.Item{
    text-transform: capitalize;
    text-decoration: none;
    margin: 0rem 0.5rem;
    font-size: 1.2rem;
    font-family: "Open sans",sans-serif;
    font-weight: bold;
    color: #ADEAD2;
    padding: 0.7rem 3rem;
    transition: all 0.5s;

   
}
.Item-current{
    text-transform: capitalize;
    text-decoration: none;
    margin: 0rem 0.5rem;

    font-size: 1.2rem;
    font-family: "Open sans",sans-serif;
    font-weight: bold;
    color: #435df8;
    opacity: 0.5;
    padding: 0.7rem 3rem;
    transition: all 0.5s;
    color:#f2f3f7;
    border-bottom: 2px  #435df8 solid;
    opacity: 1;

    
}
.Item:hover{

    border-radius: 5px;
    background-image: linear-gradient(134deg, #016AEA 0%, #BA0086 100%);    font-size: small;
    color: white
    
}

