@import '../../../lib/sass/abstract/mixins';

.page-content{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 16rem;
  background-color: #AECFE1;
  @include responsive(desktop, large){
    display: none;
}
 
}  
.side{
    width: 20rem;
    // background-image: linear-gradient(134deg, #016AEA 0%, #BA0086 100%);    
    overflow: hidden;
    @include responsive(desktop, large){
      width: 10rem;
    }
   
}
.sideBar-list-icon{
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: 1023px) {
    display: none;
}
}
.list-icon{
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #435df8;
  opacity: 0.5;
}

.sideBar-content{
    background-color: #f2f2f2;
    height: auto;
    display: flex;
    flex-direction: column;
    background: none;
    // justify-content: center;
    align-items: center;
  }
  .sideBar-title{
      text-transform: capitalize;
      text-decoration: none;
      font-size: 1.2rem;
      font-family: "Open sans", sans-serif;
      color: #2e2e2e;
      padding-bottom: 0.1rem;
  }
  .sideBar-content-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6rem;
    border-bottom: #435df8 solid;
  }
  .sideBar-content-body{
    margin-top: 2rem;
  }
  .sideBar-items{
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
  
    p{
      color: #2e2e2e;
      margin: 0.4rem 0.6rem;
     
    }
    p:hover{
      color: #f2f2f2;
    }
    i{
      color: #f2f2f2;
    }
  }
  .sideBar-items:hover{
    background-color: #435ef83b;
    color: #f2f2f2;
    border-radius: 10px;
    
  }
  .sideBar-icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    background-color: #435df8;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sideBar-img{
    
  
    img{
      border-radius: 50px;
      width: 3rem;
      height: 3rem;
  
    }
  
  }
  
.App-sidebar{
  height: auto;
  width: 100%;
  margin: 1rem;
  background: rgba(223,255,251,0.50);
  border: 2px solid rgba(255,255,255,0.50);
  // --v : 255 255 255 / 80%;
  // @include box-shadow( inset -2px -2px 25px 0 rgba(var(--v)));
  // @include box-shadow(inset -2px -2px 25px 0 rgb($v));
  border-radius: 20px;
  backdrop-filter: blur(6px);
  z-index: 4;
  opacity: 0.9;

 
 
}



