@import '../../../../lib/sass/abstract/mixins';
.VocItem-container{
    display: inline-block;
    height: 135px;
    width: 135px;
    // --v : 255 255 255 / 80%;
    // @include box-shadow( inset -2px -2px 25px 0 rgba(var(--v)));
    // @include box-shadow(inset -2px -2px 25px 0 rgb($v));
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    opacity: 0.9;
    border-radius: 20% ;
    margin: 10px 20px;
    background-color: #016AEA;

   
    .VocItem-img{
        
        margin: 15px 15px 5px 15px;
        display: flex;
        justify-content: center;
       
        img{
            
            height: 90px;
            width: 90px;
            
        }
    }

    .VocItem-title{
        text-overflow: unset;
        text-align: center;
        font-size: 12px;
        padding: 10px, 5px;
        height: 20%;
      
        
    }
    
    
}
.VocItem-container:hover {
    $erst: 0,0,0,0.25;
    $tweede:0,0,0,0.22;
    // @include box-shadow(0 14px 28px rgba($erst), 0 10px 10px rgba($tweede));
  }
  