.TextInp-container{
    width: 100%;
    display: block;

    .TextInp-input{
    
        display: none;
        width: 100%;
        // border: none;
        // height: 40px ;
        // border-radius: 30px 30px 30px 30px;
        // padding: 2% 5% ;
    }
}