/* .App {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}
 */
 *{
   padding: 0;
   margin: 0;
 }
 .App{
  
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

.App-header{
  flex-basis: 100%;
}

.App-main{
  height: 50%;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;

}
.App-container{
  height: 100%;
  flex-basis: 100%;
  background-color: #e5e5e5;

}

.App-footer{
  background-color: #f2f2f2;
  padding: 1rem 1.5rem;
  background-color: #435df8;
  flex-basis: 100%;
  height: 25%;
  // -webkit-clip-path: polygon(63% 79%, 100% 3%, 100% 100%, 0 100%, 32% 74%);
  // clip-path: polygon(63% 79%, 100% 3%, 100% 100%, 0 100%, 32% 74%);
   p{
     text-align: center;
   }
}

//SideBAr









/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */
