.Voc-container {
    display: flex;
    height: auto;
    width: auto;
}

.Voc-header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Voc-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    background-image: url('./assets/bg-vocabulaire.png');
    background-size: cover;
}

.Voc-body {
    height: 100%;
}